<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Reddit 2.0</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
		<!-- LOCAL CSS STYLESHEET -->
	</head>
    <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>Welcome to Web Dev News</p>
  </div>
	<body background>
		{{{ body }}}
	</body>
</html>
