<!--Main content-->

<!-- This is where we will post the scraped data -->

<div>
  {{#each result}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{this.title}}</h3>
      </div>
      <div class="panel-body">
        {{this.link}}
      </div>
    </div>
    <div class="row submit-area">
      <div class="col-xs-12">
        <form method="POST" action="/" class="button-size">
        	<textarea type="text" id="comment"  maxlength="30" autofocus></textarea>
          <br>
        	<button class="btn btn-default" id="submit-button" type="submit">Add Comment</button>
        </form>
      </div>
    </div>
    <br>
  {{/each}}
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<!-- Function to stop blank submit -->
<script>
    $("#submit-button").on("click", () => {
      if ($("#comment").val().length === 0) {
        alert("You need to enter a comment before submitting!");
        return false;
      };

      return true;
    });
</script>

<style>

body {
  margin: 50px;
}

label {
  font-size: 20px;
  font-weight: bold;
}
</style>
